.App {
  text-align: center;
}

body {
  background: url("images/BWbooks.jpg") no-repeat center center fixed;
  background-size:contain;
  background-position:center;
  /*height: 100%;*/
  font-size: 16px;
}

#mapDaddy{
  height: 500px;
  width: 400px;
  margin-left: 6em;
  margin-top: -4em;
  /*position: relative;*/
  border-radius: 30px 50px 30px;
  background-color:rgba(237,236,236,0.3);
}

#map {
  width: 100%;
  height: 80%;
}


.mapMarker{
  height: 20px;
  width: 20;
  background-color: blue;
}

#googleSearchContainer{
  padding-top: 3em;
  color: white;
}

#g-search{
  padding-bottom: 20px;
  display: flex;
  display: table;
}

.addGButton {
  position: -webkit-sticky;
  position: sticky;
  top: 50px;
  z-index: 2;
  background-color: #ed835c;
}


.searchGo {
  background-color: #ed5e5c;
}


.googleBook{
  display: inline;
  width: 7.500em;
  height: 9.375em;
  padding: 10px 6px 10px 6px;
}

.googleBook.selected{
  opacity: 0.5
}

.navbar-nav {
  width: 100%
}

.navbar .nav > li {
  display: table-cell;
  width: 1%;
  float: none;
  text-align: center;
  margin-top: -8em;
  color: rgba(87, 205, 255, 0.37);
}

.nav {
  height: 3em;
}


.navbar-brand{
  letter-spacing: 0.75em;
  margin-bottom: 1em;
  margin-left: 0px;
  padding-top: 0;
  margin-top: 0.8em;
  margin-left: -6em;
}

/*.navbar-brand h1{

}*/


#bookNav{
  background-color:rgba(237,236,236,1);
  padding: none;
  margin-left: 0.7em;
  /*margin-top: 0.8em;*/
  position: -webkit-sticky;
  position: sticky;
  top: 50px;
}

#bookNav li {
  color: rgba(87, 205, 255, 0.37)
}

.bookNavStick {
  z-index: 2;
  margin-top: none;
  width: 522px;
  max-width: 525px;
  height: 1.6em;
  /*background-color:rgba(237,236,236,1);*/
}

/*.bookNavStick li {
  background-color:rgba(237,236,236,0.4);
}*/

.book{
  display: flex;
  flex: auto;
  /*justify-content: center;*/
  /*align-items: center;*/
  width: 7.500em;
  height: 9.375em;
  /*border: 2px dashed #f69c55;*/
  padding-top: 10px;
  padding-bottom: 10px;
}

.bookCover {
  display: table-cell;
  height: 100%;
  width: 100%;
  /*padding-left: 0;
  padding-right: 0;*/
}

#loginForm{
  padding-top: 10em;
}

#myBookList{
  display: flex;
  display: table;
  flex-wrap: nowrap;
  background-color:rgba(237,236,236,0.3);
  padding-left: 2.7em;

}

#inbox{
  /*display: table;*/
  height: inherit;
  /*margin-bottom: -100px;*/

}


.bookDetailView{
  position: fixed;
  width: 30em;
  margin-left: 4em;
  margin-top: -3em;
  background-color: white;
  padding-bottom: 1.2em;
  /*border: 2px solid #58ff98;*/
  /*border-radius: 15px 50px 30px;*/
  background-color:rgba(237,236,236,0.4);
}

#description{
  border-radius: 15px 15px 15px 15px;
  padding: 0.6em 1.2em 0.6em;
  margin: 0 1.4em 0.5em 1.4em;
  background-color: rgba(87, 205, 255, 0.37)
}

.bookDetailCover{
  margin-top: 1em;
  width: 25%;
}

#crudButtons{
  margin: 0 auto;
}

#userView{
  padding-top: 6em;
}

#userInfo{
  background-color:rgba(237,236,236,0.3);
  margin-bottom: 0.8em
}

#userBio{
  margin: 2% 0 0 0 ;
}

#userBio p {
  font-style: italic;
  margin: 8% 0 0 0 ;
  /*border: 2px dashed #f69c55;*/
  text-align: center;
}

#bioHeader{
  font-weight: 600;
  font-style: normal;
  font-family: sans-serif;
}

#userPic{
  width: 70%;
  height: auto;
}
