.App {
  text-align: center;
}

#g-search{
  padding-bottom: 20px;
}

.googleBook.selected{
  opacity: 0.5
}

.navbar .nav {
  margin: 0;
  display: table;
  width: 100%;
  background-color: black;
}

.navbar .nav > li {
  display: table-cell;
  width: 1%;
  float: none;
  text-align: center;
}

.nav-link {
  color: white;
  font-size: 100%;
  font-weight: 200;
  font-style: bold;
}

.book{
  display: flex;
  /*object-fit: cover;*/
  justify-content: center;
  align-items: center;
  min-width: auto;
  height: 100%;
  border: 2px dashed #f69c55;
}

.bookCover {
  display: flex;
  object-fit: cover;
  width: 100%;
  height: auto;
}

#myBookList{
  display: flex;
  flex-wrap: wrap;
  background-color: #76ff91;
  height: 1.em;
}

#userBio p {
  font-style: italic;
  margin: 14% 25% 0 0;
  border: 2px dashed #f69c55;
}

#userPic{
  width: 70%;
  height: auto;
}
