.App {
  text-align: center;
}

body {
  background: url("images/BWbooks.jpg") no-repeat center center fixed;
  background-size:contain;
  background-position:center;
  /*height: 100%;*/
  font-size: 16px;
}

#mapDaddy{
  height: 500px;
  width: 400px;
  margin-left: 6em;
  margin-top: -4em;
  /*position: relative;*/
  border-radius: 30px 50px 30px;
  background-color:rgba(237,236,236,0.3);
}

#map {
  width: 100%;
  height: 80%;
}


.mapMarker{
  height: 20px;
  width: 20;
}

.mapInfo{
  background-color: #ed835c;
  z-index: 1000;
  border: 2px black;
  display: block;
}

#googleSearchContainer{
  padding-top: 3em;
  color: white;
}

#g-search{
  padding-bottom: 20px;
  display: flex;
  display: table;
}

.addGButton {
  position: -webkit-sticky;
  position: sticky;
  top: 50px;
  z-index: 2;
  background-color: #ed835c;
}


.searchGo {
  background-color: #ed5e5c;
}


.googleBook{
  display: inline;
  width: 7.500em;
  height: 9.375em;
  padding: 10px 6px 10px 6px;
}

.googleBook.selected{
  opacity: 0.5
}

.navbar-nav {
  width: 100%
}

.navbar .nav > li {
  display: table-cell;
  width: 1%;
  float: none;
  text-align: center;
  margin-top: -8em;
  color: rgba(87, 205, 255, 0.37);
}

.nav {
  height: 3em;
}


.navbar-brand{
  letter-spacing: 0.75em;
  margin-bottom: 1em;
  margin-left: 0px;
  padding-top: 0;
  margin-top: 0.8em;
  margin-left: -6em;
}

.affixed + * {
  margin-top: 48px;
}

#bookNav{
  background-color:rgba(237,236,236,1);
  padding: none;
  margin-left: 0.7em;
}

.BookNav {
  position: -webkit-sticky;
  position: sticky;
  top: 48px;
  z-index: 3;
}

.book{
  display: flex;
  flex: auto;
  /*justify-content: center;*/
  /*align-items: center;*/
  width: 7.500em;
  height: 9.375em;
  /*border: 2px dashed #f69c55;*/
  padding-top: 10px;
  padding-bottom: 10px;
}

.bookCover {
  display: table-cell;
  height: 100%;
  width: 100%;
  /*padding-left: 0;
  padding-right: 0;*/
}

#loginForm{
  padding-top: 10em;
}

#firstWelcome{
  font-weight: 200;
  letter-spacing: 10px;
  padding-right: 70%;
}

#firstLogo{
  font-size: 56px;
  font-weight: 600;
  padding-right: 60%;
 text-shadow: -0.04em 0 white, 0 0.04em white, 0.04em 0 white, 0 -0.04em white;
}

#firstLogo span{
  color: rgba(1, 127, 152, 1);
  font-size: 56px;
  font-weight: 100;
}

#tagLine {
  font-style: italic;
  font-weight: 200;
  padding-right: 80%;
  letter-spacing: 3px;
  font-size: 16px;
  text-shadow: -0.2em 0 white, 0 0.2em white, 0.2em 0 white, 0 -0.2em white;
}

#loginFields{
  padding-top: 5%;
}
#loginFields label {
  padding-right: 10%;
}

.loginButton{
  background-color: initial;
  border-radius: 10px 10px 10px 10px;
  border-color: #9ecfd8;
  color: #2e545b;
  margin-top: 0.8em;
  width: 70%;
}

.signUpHeader{
  margin-top: 5%
}

#signUp{
  margin-top: 0%;
}

#signUp input {
  width: 100%;
}


.myBookList{
  display: flex;
  display: table;
  flex-wrap: nowrap;
  background-color:rgba(237,236,236,0.3);
  padding-left: 2.7em;
  z-index: 1;
  position: relative;
}


#inbox{
  /*display: table;*/
  height: inherit;
  /*margin-bottom: -100px;*/

}


.bookDetailView{
  /*display: flex;*/
  position: fixed;
  width: 30em;
  margin-left: 4em;
  margin-top: -6.5em;
  background-color: white;
  padding-bottom: 1.2em;
  /*max-height: 30em;*/
  float: right;
  /*overflow-y: scroll;*/
  /*max-height: inherit;*/
  /*border: 2px solid #58ff98;*/
  /*border-radius: 15px 50px 30px;*/
  background-color:rgba(237,236,236,0.4);
}

#userViewBookList.bookDetailView{
  max-height: 100px;
}

#description{
  max-height: 30%;
  border-radius: 15px 15px 15px 15px;
  box-shadow: inset 0 0 20px rgba(0, 5, 5, 0.47);
  padding: 0.6em 1.2em 0.6em;
  margin: 0 1.4em 0.5em 1.4em;
  background-color: rgba(4, 16, 17, 0.08);
}

.bookDetailCover{
  margin-top: 1em;
  width: 27%;
  /*max-height: 1*/
}

#bookPlaceHolder {
  /*float: right;

/*margin-left: 20%;*/
/*position: fixed;*/
/*width: 50%;*/
}

#crudButtons{
  margin: 0 auto;

}

#userView{
  padding-top: 6em;
}

#userInfo{
  background-color:rgba(237,236,236,0.3);
  margin-bottom: 0.8em
}

#userBio{
  margin: 2% 0 0 0 ;
}

#userBio p {
  font-style: italic;
  margin: 8% 0 0 0 ;
  /*border: 2px dashed #f69c55;*/
  text-align: center;
}

#bioHeader{
  font-weight: 600;
  font-style: normal;
  font-family: sans-serif;
}

#userPic{
  width: 70%;
  height: auto;
  max-width: 14em;
}

#userTable{

}

#userViewContainer{
  margin-top: 10em;
}

#userViewBookList{
  max-height: 20em;
}

#userDetailView{
  /*position: fixed;*/
}
